@{
    ViewData["Title"] = "Wallpapers shown here";
}
<h1>@ViewData["Title"]</h1>
@using DynamicWallPaperMVC.Models
@model IEnumerable<DynamicWallPaperMVC.Models.DatumList>
<p>Wallpaper default page here. yo.</p>

@using System.Collections

@{
    ViewData["Title"] = "Wallpapers shown here";

}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData[""]</h2>

<table>
    <tr>
        <td>@ViewData["data"]</td>
    </tr>
    
</table>

<ul>
   
    
 @foreach (Datum datum in (IEnumerable) ViewData["images"])
 {
     <img src="@datum.link">
          

    }
</ul>
